*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/* sidebar section */
.wrapper{
  display:grid;
  grid-template-columns: 20% 50% 30%;
  grid-column-gap: 20px;
  
  
}
.sidebar {
  
  position: fixed;
  width: 250px;
  height: 100%;
  left:0;
  padding: 50px;
  
}

.sidebar h2 {
  font-size:40px;
  font-weight:bold;
}

.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 15px;
  color: black;
  box-sizing: border-box;
}

.sidebar ul a:hover{
  color:orangered;
}

.sidebar button{
  padding:15px 50px;
  border-radius:30px;
  background-color: orangered;
  border:none;

}


/* Main content section */

.main-content{
  margin-top: 100px;
  
}
.main-title h1{
  font-size: 60px;
}
.main-text p{
  margin-top: 100px;
  color:gray;

}

/* card section */
.card-section{
  display:flex;
  width:250px;
  height:200px;
  margin-top: 100px;
  
  
}
.card-section div {
  box-shadow: 0px 0px 10px lightgray;
  flex: 4;
}

.img-section {
  margin:10px;
  box-shadow: 0px 0px 10px black;
  padding:20px;
  border-radius: 20px;
  
}
.img-section img {
  border-radius: 50%;
}
.img-section p {
  text-align:center;
  font-weight: bold;
}